/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

.middle {
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid black;
    spacing: 1px;
    padding: 1px;
}

.middle th, .middle td {
    border: 1px solid black;
    padding: 5px;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}